.container_allposts {
	width: 100%;
	height: calc(100vh - 5rem);

	overflow-y: scroll;

	padding: 1.5rem 1rem;

	.posts {
		width: 100%;
		height: 100%;

		.blur {
			position: fixed;
			bottom: 0;
			left: 0;

			width: 100%;
			height: 4rem;

			background: linear-gradient(360deg, #f2f3f5, transparent);
		}
	}

}
