body {
  overflow: hidden;
}

@keyframes load {
  to {
    opacity: 0.1;
    color: #3D7AFD;
  }
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-message {
  font-size: 5rem;
  font-weight: bolder;
  animation-name: load;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}